{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% block meta %}{% endblock meta %}
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.jsdelivr.net/npm/dompurify@3.0.5/dist/purify.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/global.css' %}"/>
    {% block head_end %}{% endblock head_end %}
  </head>

  <body class="{% block body_class %}bg-white text-gray-900 flex flex-col min-h-screen{% endblock %}">
    {% block navbar %}
      {% include 'navbar.html' %}
    {% endblock navbar %}

    <main class="{% block main_class %}pt-14 flex-grow{% endblock %}">
      {% block content %}{% endblock content %}
    </main>

    {% block footer %}
      {% include 'footer.html' %}
    {% endblock footer %}

    {% block body_end %}{% endblock body_end %}
  </body>
</html>
